<!-- erb <h1>"My name is"</hi>
'<style> img {border: 9px dashed red;}</style>
<img src="http://bit.ly/1eze8aE">' -->

<h1>My name is <%=["pollo", "chicken", "baby"].sample %></h1>
<!-- <div style='border: 3px dashed red'> -->
  <img src='http://bit.ly/1eze8aE' style='border: 3px dashed red'>
<!-- </div> -->
